@model IEnumerable<view_model.ClienteViewModel>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<div class="row">
    <p>
        <a asp-action="Create" class="btn btn-primary ">
            <span class="fas fa-plus"></span> Adicionar Cliente
        </a>
    </p>
</div>
<div class="row">
    <table class="table" id="datatable" style="width: 100%;">
        <thead style="font-size: small">
            <tr>
                <th style="width: 15%;">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th style="width: 10%;">
                    Dt. Nasc.
                </th>
                <th style="width: 10%;">
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th style="width: 10%;">
                    @Html.DisplayNameFor(model => model.Cep)
                </th>
                <th style="width: 10%;">
                    Endereço
                </th>
                <th style="width: 5%;">
                    Nº
                </th>
                <th style="width: 10%;">
                    @Html.DisplayNameFor(model => model.Complemento)
                </th>
                <th style="width: 10%;">
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th style="width: 5%;">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th style="width: 5%;">
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th style="width: 10%;"></th>
            </tr>
        </thead>
        <tbody style="font-size: small">
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 15%;">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td style="width: 10%;">
                        @Html.DisplayFor(modelItem => item.DataNascimentoFormatada)
                    </td>
                    <td style="width: 10%;">
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td style="width: 10%;">
                        @Html.DisplayFor(modelItem => item.Cep)
                    </td>
                    <td style="width: 10%;">
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td style="width: 5%;">
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td style="width: 10%;">
                        @Html.DisplayFor(modelItem => item.Complemento)
                    </td>
                    <td style="width: 10%;">
                        @Html.DisplayFor(modelItem => item.Bairro)
                    </td>
                    <td style="width: 5%;">
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td style="width: 5%;">
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                    <td style="width: 10%;">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="table-link" title="Editar">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-pencil-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="#" onclick="confirmaDelecao('@Url.Action("Delete", "Cliente")/@Html.DisplayFor(modelItem => item.Id)');" class="table-link danger" title="Excluir">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.AntiForgeryToken()

@section Scripts{
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <script src="~/js/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#datatable').dataTable({
                "language":
                {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "0": "Nenhuma linha selecionada",
                            "1": "Selecionado 1 linha"
                        }
                    }
                }
            });

            $('#datatable').DataTable();
        });
    </script>
}
